@keyframes terminal___cursor___fluid {
	0% {
		opacity: 100%;
	}
	50% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}
.terminal___cursor___fluid {
	animation: terminal___cursor___fluid 1s infinite;
}

@keyframes terminal___cursor___static {
	0% {
		opacity: 100%;
	}
	49% {
		opacity: 100%;
	}
	50% {
		opacity: 0%;
	}
	99% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}
.terminal___cursor___static {
	animation: terminal___cursor___static 1s infinite;
}

.terminal___cursor___none {
	animation: none;
}

.vim___emulator___wrapper {
	position: relative;
}
.vim___emulator___bar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-right: auto;
	width: 98%;
}
.vim___emulator___bar___left {
	float: left;
}
.vim___emulator___bar___right {
	float: right;
}